<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165969599-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165969599-1');
</script>

<body>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <video autoplay loop muted playsinline src="https://giphy.com/gifs/mVJ5xyiYkC3Vm/html5"></video>
  </div>
</div>
</body>
</html>
